.video-container {
  width: 100vw;
  height: 100vh;
  background: #ffe9f1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.valentine-video {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}
